<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Scrollytelling Demo</title>
  <script src="../assets/js/vue.js"></script>
  <script src="../assets/js/scrollama.min.js"></script>
  <script src="../assets/js/d3.min.js"></script>
  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/new_fonts.css">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div id="app">
    <header>
      <h1>Intro to DH <br>Scrollytelling Template ✨</h1>
    </header>
    <main>
      <section class="intro">
        <p>
          <strong>Intro Text → </strong>
          This is a demo for creating a scrollytelling site for Introduction to Digital Humanties.  The code is adapted <strong>by Gabriel Warren </strong> from the excellent tutorial created by UC-Lab Potsdam (https://github.com/uclab-potsdam/scrollytelling-beginners).
        </p>
        <div>
          <p>
            <strong>Edited By</strong>
            Gabriel Warren
          </p>
        </div>
      </section>
      <div style = "position:relative; left:0px; top:40px;">
        <img src="./assets/images/cmu-wordmark-stacked-k.png" alt="Cmu Logo" width=300 height=200>
      </div>

      <section class="scrolly">
        <figure ref="figure">
          <img v-if="step === 0" src="./assets/images/48749685083_e092b42a5d_k.jpg" />
          <img v-if="step === 1" src="./assets/images/48749775553_73548f7c4e_k.jpg" />
          <img v-if="step === 2" src="./assets/images/48749911306_d1a752f381_k.jpg" />
          <img v-if="step === 3" src="./assets/images/48750103681_01c6993e68_k.jpg" />
          <img v-if="step === 4" src="./assets/images/48749947446_5a3b6e5467_k.jpg" />                    
          <svg :width="width" :height="height">
<!--            <text class="step" :y="height / 2" dy="0.35em" :x="width / 2">{{ step }}</text> -->
          </svg>
        </figure>
        <article>
          <div class="step">
            <p>
              <strong>Paragraph 1 → </strong>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, sapien vel efficitur lacinia, felis erat varius risus, sed molestie risus augue in tellus. Duis nibh purus, aliquet vitae gravida porttitor, consectetur vitae est. Quisque porttitor tincidunt urna, in facilisis ipsum facilisis at. Ut id lectus non erat commodo accumsan eu id quam. Fusce purus diam, tempus non orci non, vehicula rhoncus felis. Suspendisse id nisl imperdiet, aliquam ligula et, venenatis augue. Vivamus at eros id dui auctor imperdiet. Ut in enim in turpis lobortis commodo vel nec lorem.
            </p>
          </div>
          <div class="step">
            <p>
              <strong>Paragraph 2 → </strong>
              Proin commodo facilisis velit, ac sodales leo consectetur quis. Aliquam eu vulputate leo. Nam vel scelerisque erat. Morbi quis augue egestas, sagittis lorem quis, auctor tellus. Nam maximus tincidunt blandit. Vivamus aliquam eleifend justo, quis lobortis urna pellentesque id. Praesent dignissim, mi non rhoncus placerat, eros nisi suscipit lectus, ut auctor velit est vitae lectus.
            </p>
          </div>
          <div class="step">
            <p>
              <strong>Paragraph 3 → </strong>
              Aliquam pulvinar ipsum orci, a tincidunt ligula faucibus in. Cras luctus mauris vitae elit molestie gravida. Aliquam nec dapibus justo, et pharetra est. Aliquam aliquam lacus ut fermentum interdum. Donec ultricies vehicula finibus. Curabitur et dolor nunc. Mauris ultricies porttitor velit, in volutpat justo malesuada et. Nullam ac metus ac tellus auctor congue. Praesent vel erat lacus.
            </p>
          </div>
          <div class="step">
            <p>
              <strong>Paragraph 4 → </strong>
              Pellentesque est tortor, hendrerit vitae viverra quis, sodales at tortor. Maecenas pharetra turpis orci, quis auctor nulla varius vitae. Proin in rhoncus massa. Sed ultrices tincidunt sem hendrerit finibus. Nunc molestie mattis condimentum. Etiam rutrum, enim id elementum egestas, nisi mi mollis risus, vel lacinia orci lorem et orci. Cras volutpat, libero a tristique elementum, orci justo maximus tortor, a sagittis ligula mauris non sem.
            </p>
          </div>
        </article>
      </section>
      <section class="outro">
        <div style = "position:relative; left:0px; top:40px;">
          <p>
            <strong>Outro → </strong>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, sapien vel efficitur lacinia, felis erat varius risus, sed molestie risus augue in tellus. Duis nibh purus, aliquet vitae gravida porttitor, consectetur vitae est. Quisque porttitor tincidunt urna, in facilisis ipsum facilisis at. Ut id lectus non erat commodo accumsan eu id quam. Fusce purus diam, tempus non orci non, vehicula rhoncus felis. Suspendisse id nisl imperdiet, aliquam ligula et, venenatis augue. Vivamus at eros id dui auctor imperdiet. Ut in enim in turpis lobortis commodo vel nec lorem.
          </p>
        </div>
      </section>
    </main>
    <footer>
    </footer>
  </div>
  <script src="./index.js"></script>
</body>

</html>
